<div fxLayoutAlign="center center" fxFlexFill style="color: aliceblue;">
    <mat-card fxFlex="28">
        <div style="text-align: center;">
            <h4>
                <span style="color: rgb(233, 152, 76);">F</span>
                <span style="color: rgb(164, 102, 223);">u</span>
                <span style="color: rgb(102, 231, 124);">n</span>
                <span style="color: rgb(65, 121, 204);">d</span>
                <span style="color: rgb(198, 230, 19);">o</span>
                <span style="color: rgb(162, 96, 224);">o</span>
            </h4>
            <h3>Sign in</h3>
            <p>Use your Fundoo Account</p>
        </div>
        <form action="" fxLayout="column" fxLayoutAlign="start start" #loginForm=ngForm (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Enter Email</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter Password</mat-label>
                <input maxlength="10" minlength="3" required [(ngModel)]="form.password" name="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Enter valid password</mat-hint>
            </mat-form-field>
            <button [routerLink]="['/registration']" class="lognBtn" mat-raised-button type="button" fxFlexAlign="start">Create Account</button>
            <button mat-raised-button type="submit" fxFlexAlign="end" color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
            <a fxFlexAlign="center" [routerLink]="[ '/forget-password']">Forget password ?</a>
        </form>
    </mat-card>
</div>