<div style="flex-wrap: wrap; ">
    <p style="padding-left: 207px;">Other Notes</p>
    <div class="getAllNotes" style="flex-direction: row;box-sizing: border-box;display: flex;margin-left: 15%;flex-wrap: wrap;">
        <mat-card class="getNotesMat" *ngFor="let note of notes">
            <div class="tile">
                {{note.title}}
            </div>
            <div class="Des">
                {{note.description}}
            </div>
            <app-iconlist></app-iconlist>
        </mat-card>
    </div>
</div>
