<div *ngFor="let label of note.list">
    <mat-chip-list aria-label="Reminder">
        <mat-chip>{{label.name}}
            <mat-icon matChipRemove (click)="removeLabel((label))">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
<div *ngIf="note.reminder!=null">
    <mat-chip-list aria-label="Reminder" *ngIf="removable">
        <mat-chip>{{note.reminder | date :'short'}}
            <mat-icon matChipRemove (click)="removeReminder((note.id))">cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
<div class="inconList">
    <a [matMenuTriggerFor]="menu1">
        <img src="assets/icon/remainder.svg" id="dt1" matTooltip="Add Reminder">
    </a>
    <owl-date-time #dt1></owl-date-time>
    <mat-menu #menu1="matMenu">
        <P>Reminder: </P>
        <input [owlDateTime]="dt1" [(ngModel)]="dateTime" [owlDateTimeTrigger]="dt1" placeholder="Set time">
        <button mat-menu-item>
        <span>Later Today:   8:00PM</span>
      </button>
        <button mat-menu-item>
          <span>Later Tomorrow:   8:00AM</span>
      </button >
        <button mat-menu-item [owlDateTimeTrigger]="dt1">
        <span>Pick Date & Time </span>
        <mat-icon>watch_later</mat-icon>
      </button>
        <button style="margin-left: 30px" id="btnAlram" mat-stroked-button color="primary" (click)="setReminder((note.id))">Set Reminder</button>
    </mat-menu>

    <a (click)="openDialog((note.id))" id="icons"><img src="assets/icon/collab.svg" matTooltip="Collabrator "></a>
    <a id="icons"><img src="assets/icon/colorpalate.svg" [matMenuTriggerFor]="colorlist" matTooltip="Add Color"></a>
    <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
        <ng-template matMenuContent>
            <div>
                <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                    <div *ngFor="let color of colors">
                        <a [ngStyle]="{ 'background-color': color.color }" matTooltip="{{ color.name }}" mat-mini-fab (click)="setColor((color.color))"></a>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-menu>
    <a id="icons" href="#"><img src="assets/icon/addImage.svg" matTooltip="Add Image"></a>
    <a (click)="archive((note.id))"> <img id="icons" src="assets/icon/archive-24px.svg" matTooltip="Archive"> </a>
    <a id="icons"><img mat-icon-button [matMenuTriggerFor]="menu" style="height: 1.5em; width: 2em;" src="assets/icon/more.svg" matTooltip="More"></a>
    <mat-menu #menu="matMenu">
        <button style="outline: 0;" mat-menu-item (click)="deleteNote((note.id))">Delete Note</button>
        <button mat-menu-item (click)="makeCopy((note))">Make a copy</button>
        <button mat-menu-item [matMenuTriggerFor]="vertebrates" (click)="stopPropagation($event)">Add Label</button>
    </mat-menu>
    <mat-menu #vertebrates="matMenu">
        <div class="main-div">
            <mat-card>
                <mat-card-header>Note Label</mat-card-header>
                <form (click)="stopPropagation($event)">
                    <div>
                        <mat-form-field autocomplete="on" style="
                        background: white;
                        padding: 0px;
                    ">
                            <input matInput autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="SearchTeram" color="white" placeholder="Enter Label" id="labelName" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="display-labels">
                        <div *ngFor="let label of labelList| searchLabel : SearchTeram ">
                            <mat-checkbox (click)="addNoteToLabel(label)"></mat-checkbox>
                            <label mat-menu-item style="display: inline; ">{{label.name}}</label>
                        </div>
                    </div>
                    <div align="end ">
                        <button mat-raised-button>Done</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </mat-menu>
</div>