<div class="empty-notes" *ngIf="isEmptyTrashedNotesList" align="center">
    <mat-icon>delete_outline</mat-icon>
    <div class="mat-headline">No notes in the trash</div>
</div>
<div style=" text-align: center; padding-top: 10px;">
    <h2> Notes in Trash are</h2>
</div>
<div style="flex-wrap: wrap;     padding-top: 50px;
margin-left: 20px;">
    <div class="getAllNotes" style="flex-direction: row;box-sizing: border-box;display: flex;margin-left: 15%;flex-wrap: wrap;">
        <div *ngFor="let trashNote of notes">
            <mat-card class="getNotesMat " [ngStyle]="{'background-color':trashNote.colour}">
                <div class="tile">
                    {{trashNote.title}}
                </div>
                <div class="Des">
                    {{trashNote.description}}
                </div>
                <mat-card-footer>
                    <button mat-icon-button (click)="deletePermanetly((trashNote.id))">
                    <mat-icon matTooltip="Delete forever">delete_forever</mat-icon>
                  </button>
                    <button mat-icon-button matTooltip="Restore" (click)="restoreNote((trashNote.id))">
                    <mat-icon>restore_from_trash</mat-icon>
                  </button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
