<div fxLayoutAlign="center center" fxFlexFill>
    <div *ngIf="isloading">
        <app-spinner></app-spinner>
    </div>
    <mat-card fxFlex="35" *ngIf="!isloading">
        <app-logo></app-logo>
        <h5>Create your Fundoo Account</h5>
        <br>
        <form #regForm=ngForm (ngSubmit)="onSubmit(); regForm.resetForm();" *ngIf="!isloading">
            <div class="example-container">
                <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your First name</mat-label>
                    <mat-hint>Hint</mat-hint>
                    <input matInput required [(ngModel)]="form.fname" name="fname">
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding-left: 6px;">
                    <mat-label>Enter Your Last name</mat-label>
                    <input matInput required [(ngModel)]="form.lname" name="lname">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Enter Email</mat-hint>
            </mat-form-field>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input matInput required type="password" minlength="5" [(ngModel)]="form.password" name="password">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding-left: 6px;">
                    <mat-label>Confirm password</mat-label>
                    <input [(ngModel)]="form.confirmPassword" name="confirmPassword" matInput required type="password">
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Enter your Phone Number </mat-label>
                <input [(ngModel)]="form.mobileNumber" minlength="10" maxlength="10" name="mobileNumber" matInput placeholder="Placeholder" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <button [routerLink]="['/login']" mat-raised-button>Login</button>
            <br>
            <button type="submit" [disabled]="!regForm.valid" style="margin-left: 70%;" class="lognBtn" mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card>
</div>