:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}

.mat-body-2 {
    font-size: 10px;
}

// reducing size of button
.icon-button {
    transform: scale(0.8);
}

button:focus {
    outline: 0;
}
