<mat-card fxFlex="40" style="background-color: rgb(245, 245, 245);">
    <div style="text-align: center; font-size: 40px;">
        <h4>
            <span style="color: rgb(233, 152, 76);">F</span>
            <span style="color: rgb(164, 102, 223);">u</span>
            <span style="color: rgb(102, 231, 124);">n</span>
            <span style="color: rgb(65, 121, 204);">d</span>
            <span style="color: rgb(198, 230, 19);">o</span>
            <span style="color: rgb(162, 96, 224);">o</span>
        </h4>
    </div>
</mat-card>