<div>
    <h2>
        <span style="color: rgb(247, 64, 8); text-shadow: bisque;">F</span>
        <span style="color: rgb(133, 18, 240);">u</span>
        <span style="color: rgb(102, 231, 124);">n</span>
        <span style="color: rgb(65, 121, 204);">d</span>
        <span style="color: rgb(217, 255, 0);">o</span>
        <span style="color: rgb(233, 170, 53);">o </span>
        <span style="color: rgb(24, 202, 98);">N</span>
        <span style="color: rgb(57, 224, 216);">o</span>
        <span style="color: rgb(185, 130, 28);">t</span>
        <span style="color: rgb(0, 4, 255);">e</span>
        <span style="color: rgb(8, 6, 1);">s</span>
    </h2>
</div>