<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="40" style="background-color: rgb(245, 245, 245);">
        <div style="text-align: center; font-size: 40px;">
            <h4>
                <span style="color: rgb(233, 152, 76);">F</span>
                <span style="color: rgb(164, 102, 223);">u</span>
                <span style="color: rgb(102, 231, 124);">n</span>
                <span style="color: rgb(65, 121, 204);">d</span>
                <span style="color: rgb(198, 230, 19);">o</span>
                <span style="color: rgb(162, 96, 224);">o</span>
            </h4>
            <h1>
                <span style=" font-size: 100px; color: rgb(0, 0, 0);">4</span>
                <span style=" font-size: 100px; color: rgb(30, 183, 243);">0</span>
                <span style=" font-size: 100px; color: rgb(0, 0, 0);">4</span>
            </h1>
            <mat-label style=" text-align: center; font-size: 15px; margin-left: auto;">THE PAGE YOU REQUESTED COULD NOT FOUND</mat-label>
        </div>

        <button mat-raised-button [routerLink]="[ '/login']" type="submit" style="margin-left: 40%; size: 20px;">Home</button>
    </mat-card>


</div>