<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div>
        <mat-toolbar role="banner" class="fixed-top" style="background-color:rgba(255,255,255,1)">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon class="menuButton" aria-label="Side nav toggle icon">menu</mat-icon>
             </button>
            <div><img src="assets/googlekeepicon.png" alt=""></div>
            <div><span>Keep</span></div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="70" fxFlex="70" class="search">
                <!-- <form class="search"> -->
                <button mat-icon-button fxHide.xs="true">
            <mat-icon>search</mat-icon>
          </button>
                <input matTooltip="Search" placeholder="Search" class="input" />
                <!-- </form> -->
            </div>
            <div id="refresh" fxLayout="row">
                <button mat-icon-button matTooltip="refresh" (click)="refreshButton()">
                  <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button matTooltip="settings">
                  <mat-icon>settings</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
    <br>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="side" #drawer class="sidenav">
            <mat-nav-list>
                <a mat-list-item href="#">Link 1</a>
                <a mat-list-item href="#">Link 2</a>
                <a mat-list-item href="#">Link 3</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- Add Content Here -->
        </mat-sidenav-content>
    </mat-sidenav-container>

</body>

</html>