<div fxLayoutAlign="center center" fxFlexFill>
    <div *ngIf="isloading">
        <app-spinner></app-spinner>
    </div>
    <mat-card fxFlex="35" *ngIf="!isloading">
        <app-logo></app-logo>
        <h5>Reset Your Password</h5>
        <br>
        <form #regForm=ngForm (ngSubmit)="onSubmit(); regForm.resetForm();" *ngIf="!isloading">

            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Enter Your email </mat-hint>
                <mat-error>Enter valid email</mat-error>
            </mat-form-field>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input matInput required type="password" minlength="5" [(ngModel)]="form.password" name="password">
                    <mat-error>Enter 5 Digit password</mat-error>
                    <mat-hint>Set your password</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding-left: 6px;">
                    <mat-label>Confirm password</mat-label>
                    <input [(ngModel)]="form.confirmPassword" name="confirmPassword" matInput required type="password">
                    <mat-error>Enter 5 Digit password</mat-error>
                    <mat-hint>confirm your password</mat-hint>
                </mat-form-field>
            </div>
            <button type="submit" [disabled]="!regForm.valid" style="margin-left: 70%;" class="lognBtn" mat-raised-button color="primary">Reset-pasword</button>
        </form>
    </mat-card>
</div>