<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="28" style="background-color: azure;">
        <app-logo></app-logo>
        <h3>Reset your Password</h3>
        <p>Please Enter your password</p>
        <form action="" fxLayout="column" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input matInput type="email" placeholder="Email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Enter Email</mat-hint>
            </mat-form-field>
            <button mat-raised-button type="submit" fxFlexAlign="start" [routerLink]="[ '/login']">Login</button>
            <button mat-raised-button type="submit" fxFlexAlign="end" color="primary">Send</button>
        </form>
    </mat-card>
</div>