<div class="main">
    <mat-card class="matinputbox" *ngIf="!open" (click)="onClickCreateNoteOpen()" fxLayout="row">
        <input style="  width: 493px; margin: 2px; border: antiquewhite;padding: 2px;" matInput class="searchBar" placeholder="Take a note...">
    </mat-card>
    <mat-card class="box" *ngIf="open" fxLayout="column">
        <div id="pindiv">
            <a><img id="pin" src="assets/icon/unpin.svg" *ngIf="!note.isPinned" (click)="note.isPinned=!note.isPinned" /></a>
            <a><img [(ngModel)]="note.isPinned" id="pin" src="assets/icon/pinned.svg" *ngIf="note.isPinned" (click)="note.isPinned=!note.isPinned" /></a>
        </div>
        <input [(ngModel)]="note.title" id="title" style="border:  aliceblue;text-decoration-style: double;" matInput type="text" placeholder="Title">
        <input [(ngModel)]="note.description" id="desc" style=" height: 40px; border: aliceblue;text-decoration-style: double;" matInput type="text" placeholder="Take a note...">
        <div class="icon">
            <div style="display: flex;" fxLayout="row ">
                <app-icons></app-icons>
                <div class="div-button" button (click)="onSubmit()">
                    <button style=" opacity: 0.6;
                    transition: 0.3s;
                    outline: 0;
                    cursor: pointer;border: none;padding-top: 5px; padding-left: 25px; text-decoration: none; background-color: white; ">Close
                </button></div>
            </div>
        </div>
    </mat-card>
</div>