button {
    margin-top: 15px;
    margin-left: 27px;
}

input {
    border: none;
    text-decoration: none;
    width: 100%;
    outline: none;
    min-height: 8px;
    background-color: transparent;
}

mat-card {
    min-width: 400px;
    margin: -24px;
    padding-top: 10px;
}
