<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="35" style="background-color: rgb(255, 251, 251);">
        <div style="text-align: left;">
            <app-logo></app-logo>
            <h5>Update Your Password</h5>
        </div>
        <div *ngIf="isLoading">
            <app-spinner></app-spinner>
            <h1>Please Wait we are updating your password.......</h1>
        </div>
        <br>
        <form #regForm=ngForm (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="example-container">
                <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
            </div>
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Enter your email id </mat-hint>
                <mat-error>Enter Valid Email Id</mat-error>
            </mat-form-field>
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input matInput required type="password" minlength="5" [(ngModel)]="form.newPassword" name="newPassword">
                    <mat-error>Enter 5 Digit password</mat-error>
                    <mat-hint>Set your password</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding-left: 6px;">
                    <mat-label>Confirm password</mat-label>
                    <input [(ngModel)]="form.confirmPassword" name="confirmPassword" matInput required type="password">
                    <mat-error>Enter 5 Digit password</mat-error>
                    <mat-hint>Set your password</mat-hint>
                </mat-form-field>
            </div>
            <button [routerLink]="['/login']" mat-raised-button>Instead Login?</button>
            <br>
            <button type="submit" [disabled]="!regForm.valid" style="margin-left: 70%;" class="lognBtn" mat-raised-button color="primary">Reset Password</button>
        </form>
    </mat-card>
</div>